In [1]:
import pandas as pd

file = "/Users/alexandergoldstein/Downloads/04-Pandas_Homework_HeroesOfPymoli_Resources_purchase_data.csv"

data = pd.read_csv(file) #loads data into jupyter notebook

In [18]:
index = data.index

players = len(index)

purchases = data["Item Name"].str.count(',')

SumPurchases = sum(purchases) + players

print(players) 
print(SumPurchases) #returns total number of players & purchases

780
1013

In [3]:
data1 = data.drop_duplicates(subset = 'Item Name', keep="first")

index1 = data1.index

unique = len(index1)

print(unique) #returns total number of unique items

179

In [4]:
avg_price = data["Price"].mean()

print(avg_price) #returns average purchase price

3.050987179487176

In [6]:
revenue = avg_price * purchases

print(revenue) #returns total revenue

2379.7699999999973

In [14]:
data2 = data.loc[data["Gender"] == "Male"]
data3 = data.loc[data["Gender"] == "Female"]
data4 = data.loc[data["Gender"] == "Other / Non-Disclosed"]

index2 = data2.index
index3 = data3.index
index4 = data4.index

Men = len(index2)
Women = len(index3)
Unknown = len(index4)

Total = Men + Women + Unknown

PercentMen = Men / Total * 100
PercentWomen = Women / Total * 100
PercentUnknown = Unknown / Total * 100

print(Men, PercentMen) 
print(Women, PercentWomen) 
print(Unknown, PercentUnknown) #returns totals of men, women, and unknowns, with accompanying percentages

652 83.58974358974359
113 14.487179487179489
15 1.9230769230769231

In [51]:
avg_price1 = data2["Price"].mean()
avg_price2 = data3["Price"].mean()
avg_price3 = data4["Price"].mean()

MenRevenue = avg_price1 * Men
WomenRevenue = avg_price2 * Women
UnknownRevenue = avg_price3 * Unknown

print(Men, Women, Unknown) #Returns Total Purchases By Gender
print(avg_price1, avg_price2, avg_price3) #Returns Average Money Spent By Gender
print(MenRevenue, WomenRevenue, UnknownRevenue) #Returns Total Revenue By Gender

dataA = data2.drop_duplicates(subset = 'SN', keep="first")
lendataA = len(dataA)

dataB = data3.drop_duplicates(subset = 'SN', keep="first")
lendataB = len(dataB)

dataC = data4.drop_duplicates(subset = 'SN', keep="first")
lendataC = len(dataC)

avrgMen = Men/lendataA
avrgWomen = Women/lendataB
avrgUnknown = Unknown/lendataC
print(avrgMen, avrgWomen, avrgUnknown) #Returns Average Purchase Total Per Person By Gender

652 113 15
3.0178527607361953 3.203008849557519 3.3460000000000005
1967.6399999999994 361.93999999999966 50.190000000000005
1.3471074380165289 1.3950617283950617 1.3636363636363635

In [53]:
data5 = data.loc[data["Age"] < 10]
data6 = data[data['Age'].between(10, 19)]
data7 = data[data['Age'].between(20, 29)]
data8 = data[data['Age'].between(30, 39)]
data9 = data.loc[data["Age"] > 39]

index5 = len(data5.index)
index6 = len(data6.index)
index7 = len(data7.index)
index8 = len(data8.index)
index9 = len(data9.index)

avg_price4 = data5["Price"].mean()
avg_price5 = data6["Price"].mean()
avg_price6 = data7["Price"].mean()
avg_price7 = data8["Price"].mean()
avg_price8 = data9["Price"].mean()

TykeRevenue1 = avg_price4 * index5
TykeRevenue2 = avg_price5 * index6
TykeRevenue3 = avg_price6 * index7
TykeRevenue4 = avg_price7 * index8
TykeRevenue5 = avg_price8 * index9

TykePurchases1 = index5/len(data5.drop_duplicates(subset = 'SN', keep='first'))
TykePurchases2 = index6/len(data6.drop_duplicates(subset = 'SN', keep='first'))
TykePurchases3 = index7/len(data7.drop_duplicates(subset = 'SN', keep='first'))
TykePurchases4 = index8/len(data8.drop_duplicates(subset = 'SN', keep='first'))
TykePurchases5 = index9/len(data9.drop_duplicates(subset = 'SN', keep='first')) 

print(index5, index6, index7, index8, index9)
print(TykePurchases1, TykePurchases2, TykePurchases3, TykePurchases4, TykePurchases5)
print(avg_price4, avg_price5, avg_price6, avg_price7, avg_price8)
print(TykeRevenue1, TykeRevenue2, TykeRevenue3, TykeRevenue4, TykeRevenue5)
 #Prints the same values as above, but for age demographics

23 164 466 114 13
1.3529411764705883 1.2713178294573644 1.391044776119403 1.3734939759036144 1.0833333333333333
3.353478260869565 3.022378048780487 3.019442060085839 3.172543859649123 2.9415384615384617
77.13 495.66999999999985 1407.060000000001 361.67 38.24

In [80]:
data10 = data.groupby(["SN"]).sum()
TopFive = data10.nlargest(5, 'Price')
print(TopFive) #returns 5 highest spenders and total purchase value

data11 = data.loc[data["SN"] == "Lisosia93"]
data12 = data.loc[data["SN"] == "Idastidru52"]
data13 = data.loc[data["SN"] == "Chamjask73"]
data14 = data.loc[data["SN"] == "Iral74"]
data15 = data.loc[data["SN"] == "Iskadarya95"]

len11=len(data11.index)
len12=len(data12.index)
len13=len(data13.index)
len14=len(data14.index)
len15=len(data15.index)

Sum1=sum(data11["Price"])
Sum2=sum(data12["Price"])
Sum3=sum(data13["Price"])
Sum4=sum(data14["Price"])
Sum5=sum(data15["Price"])

avgA=Sum1/len11
avgB=Sum2/len12
avgC=Sum3/len13
avgD=Sum4/len14
avgE=Sum5/len15

print(len11, len12, len13, len14, len15) #returns total purchases for each player
print(avgA, avgB, avgC, avgD, avgE) #returns average purchase value for each player

             Purchase ID  Age  Item ID  Price
SN
Lisosia93           1630  125      442  18.96
Idastidru52         1999   96      527  15.45
Chamjask73          1306   66      339  13.83
Iral74              2285   84      518  13.62
Iskadarya95          713   60      321  13.10
5 4 3 4 3
3.7920000000000003 3.8625 4.61 3.4049999999999994 4.366666666666666

In [114]:
TopFive1 = data['Item Name'].value_counts()[:5].sort_values(ascending=False)
print(TopFive1) #returns 5 most popular items

datax = data.groupby("Item Name")
dataf = datax.get_group('Final Critic')
datao = datax.get_group('Oathbreaker, Last Hope of the Breaking Storm')
datafi = datax.get_group('Fiery Glass Crusader')
datae = datax.get_group('Extraction, Quickblade Of Trembling Hands')
datap = datax.get_group('Persuasion')

aa = dataf["Price"].sum()
ab = datao["Price"].sum()
ac = datafi["Price"].sum()
ad = datae["Price"].sum()
ae = datap["Price"].sum()

print(dataf["Price"], datao["Price"], datafi["Price"], datae["Price"], datap["Price"]) #prints the game prices
print(aa, ab, ac, ad, ae) #prints the total purchase value

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Fiery Glass Crusader                             9
Extraction, Quickblade Of Trembling Hands        9
Persuasion                                       9
Name: Item Name, dtype: int64
2      4.88
99     4.19
252    4.88
273    4.88
277    4.88
411    4.19
536    4.19
712    4.88
722    4.88
767    4.88
768    4.88
774    4.19
778    4.19
Name: Price, dtype: float64 25     4.23
61     4.23
62     4.23
72     4.23
222    4.23
464    4.23
580    4.23
627    4.23
658    4.23
706    4.23
730    4.23
753    4.23
Name: Price, dtype: float64 132    4.58
207    4.58
329    4.58
438    4.58
474    4.58
572    4.58
683    4.58
741    4.58
769    4.58
Name: Price, dtype: float64 0      3.53
56     3.53
157    3.53
414    3.53
483    3.53
498    3.53
558    3.53
640    3.53
678    3.53
Name: Price, dtype: float64 24     3.19
98     3.19
261    3.19
538    3.19
587    3.19
590    3.19
603    3.19
608    3.33
651    3.33
Name: Price, dtype: float64
59.99 50.76000000000002 41.22 31.77 28.989999999999995

In [118]:
data16 = data.groupby(["Item Name"]).sum()
TopFive2 = data16.nlargest(5, 'Price')
print(TopFive2) #returns item name, ID, and total purchase value of five most valuable items

datainfinity = data.groupby("Item Name")

dataf2 = datax.get_group('Final Critic')
datao2 = datax.get_group('Oathbreaker, Last Hope of the Breaking Storm')
datan = datax.get_group('Nirvana')
datafi2 = datax.get_group('Fiery Glass Crusader')
datas = datax.get_group('Singed Scalpel')

ba = dataf["Price"].sum()
bb = datao["Price"].sum()
bc = datafi["Price"].sum()
bd = datae["Price"].sum()
be = datap["Price"].sum()

print(dataf2, datao2, datan, datafi2, datas) #returns purchase count
print (ba, bb, bc, bd, be) # returns item price

                                              Purchase ID  Age  Item ID  Price
Item Name
Final Critic                                         6371  266     1196  59.99
Oathbreaker, Last Hope of the Breaking Storm         4960  287     2136  50.76
Nirvana                                              2761  215      738  44.10
Fiery Glass Crusader                                 4345  187     1305  41.22
Singed Scalpel                                       3947  178      824  34.80
     Purchase ID            SN  Age  Gender  Item ID     Item Name  Price
2              2    Ithergue48   24    Male       92  Final Critic   4.88
99            99  Haisrisuir60   23    Male       92  Final Critic   4.19
252          252      Tyaelo67   39    Male       92  Final Critic   4.88
273          273      Phyali88   15  Female       92  Final Critic   4.88
277          277    Ennalmol65   24    Male       92  Final Critic   4.88
411          411      Lisico81   10    Male       92  Final Critic   4.19
536          536   Siallylis44   20    Male       92  Final Critic   4.19
712          712     Lisilsa62   25    Male       92  Final Critic   4.88
722          722      Ilarin91   22    Male       92  Final Critic   4.88
767          767       Ilmol66    8  Female       92  Final Critic   4.88
768          768  Assassasta79   38    Male       92  Final Critic   4.88
774          774    Jiskjask80   11    Male       92  Final Critic   4.19
778          778       Sisur91    7    Male       92  Final Critic   4.19      Purchase ID              SN  Age  Gender  Item ID  \
25            25       Lisirra87   29    Male      178
61            61      Jiskimya77   17    Male      178
62            62      Yadaphos40   30    Male      178
72            72       Marilsa69   25  Female      178
222          222      Chamjask73   22  Female      178
464          464    Rianistast50   22    Male      178
580          580         Tyida79   24    Male      178
627          627          Arin32   25    Male      178
658          658      Quilassa66    7  Female      178
706          706   Chanossanya44   20    Male      178
730          730       Aidaira26   30    Male      178
753          753  Frichirranya75   36    Male      178

                                        Item Name  Price
25   Oathbreaker, Last Hope of the Breaking Storm   4.23
61   Oathbreaker, Last Hope of the Breaking Storm   4.23
62   Oathbreaker, Last Hope of the Breaking Storm   4.23
72   Oathbreaker, Last Hope of the Breaking Storm   4.23
222  Oathbreaker, Last Hope of the Breaking Storm   4.23
464  Oathbreaker, Last Hope of the Breaking Storm   4.23
580  Oathbreaker, Last Hope of the Breaking Storm   4.23
627  Oathbreaker, Last Hope of the Breaking Storm   4.23
658  Oathbreaker, Last Hope of the Breaking Storm   4.23
706  Oathbreaker, Last Hope of the Breaking Storm   4.23
730  Oathbreaker, Last Hope of the Breaking Storm   4.23
753  Oathbreaker, Last Hope of the Breaking Storm   4.23        Purchase ID             SN  Age  Gender  Item ID Item Name  Price
18            18      Reunasu60   22  Female       82   Nirvana    4.9
88            88     Laedallo55   30    Male       82   Nirvana    4.9
202          202      Phistym51   37    Male       82   Nirvana    4.9
240          240   Lirtastsda29   16    Male       82   Nirvana    4.9
247          247    Iskadarya95   20    Male       82   Nirvana    4.9
274          274  Aerithllora36   29  Female       82   Nirvana    4.9
504          504   Chamilsala65   23  Female       82   Nirvana    4.9
522          522    Meosridil82   18    Male       82   Nirvana    4.9
666          666     Assilsan72   20  Female       82   Nirvana    4.9      Purchase ID             SN  Age  Gender  Item ID             Item Name  \
132          132      Inguron55   23    Male      145  Fiery Glass Crusader
207          207   Sondastsda82   24    Male      145  Fiery Glass Crusader
329          329       Ceoral34   20    Male      145  Fiery Glass Crusader
438          438      Qilunan34   23    Male      145  Fiery Glass Crusader
474          474          Ina92   31    Male      145  Fiery Glass Crusader
572          572  Yoishirrala98   17  Female      145  Fiery Glass Crusader
683          683      Ialallo29   15  Female      145  Fiery Glass Crusader
741          741   Phiallylis33   19    Male      145  Fiery Glass Crusader
769          769      Ilosian36   15    Male      145  Fiery Glass Crusader

     Price
132   4.58
207   4.58
329   4.58
438   4.58
474   4.58
572   4.58
683   4.58
741   4.58
769   4.58        Purchase ID            SN  Age  Gender  Item ID       Item Name  Price
175          175      Indcil77   17    Male      103  Singed Scalpel   4.35
373          373        Aina42   25    Male      103  Singed Scalpel   4.35
455          455   Lisossala30   20    Male      103  Singed Scalpel   4.35
460          460  Assistasda90   25    Male      103  Singed Scalpel   4.35
476          476     Marassa62   21    Male      103  Singed Scalpel   4.35
634          634       Eoral49   16    Male      103  Singed Scalpel   4.35
660          660        Isri34   38    Male      103  Singed Scalpel   4.35
714          714     Tyidaim51   16  Female      103  Singed Scalpel   4.35
59.99 50.76000000000002 41.22 31.77 28.989999999999995